In [2]:
from sqlalchemy import create_engine, MetaData, Table
import psycopg2

In [3]:
db_string = "postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

In [58]:
#ex1

In [4]:
db = create_engine(db_string)

In [85]:
#ex2
#example of joining tables to see relationship between them. 
#staff and country

country_of_staff_employee = db.execute('select staff.staff_id, country.country from staff inner join ' 
                                       'address on(staff.address_id = address.address_id) inner join city on'
                                      '(address.city_id = city.city_id) inner join country on'
                                       '(city.country_id=country.country_id) group by staff.staff_id, country.country')
for i in country_of_staff_employee:
    print(i)

#actor film language
actor_film_lang = db.execute('select actor.first_name, actor.last_name, film.title, language.name from actor inner join' 
                             ' film_actor on(actor.actor_id=film_actor.actor_id) inner join film on'
                             '(film_actor.film_id=film.film_id) inner join language on(film.language_id=language.language_id) LIMIT 1')

for i in actor_film_lang:
    print(i)

(1, 'Canada')
(2, 'Australia')
('Alec', 'Wayne', 'Chamber Italian', 'English             ')

In [14]:
count = db.execute('select COUNT(name) from category')

In [59]:
#ex3

In [10]:
for i in count:
    print(i)

(16,)

In [60]:
#ex4

In [12]:
count_2 = db.execute('select name from category LIMIT 2')

In [13]:
for i in count_2:
    print(i)

('Action',)
('Animation',)

In [61]:
#ex5

In [36]:
youngest = db.execute('select title, release_year from film ORDER BY release_year ASC LIMIT 1')
oldest = db.execute('select title, release_year from film ORDER BY release_year DESC LIMIT 1')

In [37]:
for i in youngest:
    print(i)

('Chamber Italian', 2006)

In [38]:
for i in oldest:
    print(i)

('Chamber Italian', 2006)

In [39]:
'''is this my fault or databse is some kind broken ??'''

'is this my fault or databse is some kind broken ??'

In [62]:
#ex6

In [47]:
actors = db.execute('select first_name, last_name from actor where actor.first_name = \'Olympia\' or actor.first_name = \'Julia\' or actor.first_name = \'Ellen\'')

In [48]:
for i in actors:
    print(i)

('Julia', 'Mcqueen')
('Julia', 'Barrymore')
('Ellen', 'Presley')
('Olympia', 'Pfeiffer')
('Julia', 'Zellweger')
('Julia', 'Fawcett')

In [52]:
check_julia = db.execute('select COUNT(first_name) from actor where actor.first_name = \'Julia\'')

In [53]:
for i in check_julia:
    print(i)

(4,)

In [54]:
check_olympia = db.execute('select COUNT(first_name) from actor where actor.first_name = \'Olympia\'')

In [55]:
for i in check_olympia:
    print(i)

(1,)

In [56]:
check_ellen = db.execute('select COUNT(first_name) from actor where actor.first_name = \'Ellen\'')

In [57]:
for i in check_ellen:
    print(i)

(1,)